header{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}


.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px;
    
}

.box{
    border: 1px solid;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}